.row {
  display: flex;
  background-color: red;
  min-height: 900px;
  display: inline;
}
.column {
  flex: 50%;
  max-width: 50%;
  background-color: lightseagreen;
}
.column2 {
  flex: 50%;
  background-color: white;
  align-items: center;
}
.button1{
  font-size: 50px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 100px;
  margin-left: 65%;
}
.button2{
  font-size: 30px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
}
.text1{
  font-size: 30px;
  position: absolute;
  bottom: 200px;
  margin-left: 50%;
}
.text2{
  font-size: 30px;
  position: absolute;
  bottom: 300px;
  margin-left: 65%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text3{
  font-size: 20;
  position: absolute;
  top: 300px;
  margin-left: 50%;
  font-family: monospace;
}
.image{
  position: absolute;
  top: 20px;
  width: 300px;
  margin-left: 50%;
}